<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Robots</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/association.css}"/>
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand custom" href="/">
        <img th:src="@{/images/logo.jpeg}" width="30" height="30" alt="" class="d-inline-block align-top">
        Obo-Link
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
    </ul>
    <div class="justify-content-between">
        <button onclick="" id="logout" type="button" class="btn btn-outline-light">Logout</button>
    </div>
</nav>

<br/>

<div class="container">

    <h1>Robots</h1>

</div>

<br/>

<div class="container">
    <ul class="list-group" id="list">
    </ul>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>


<script th:inline="javascript">
    //var robots = /*[[${robots}]]*/ 'robots';
    var userRobots = /*[[${userRobots}]]*/ 'userRobots';
    for (var i = 0; i < userRobots.length; i++) {
        var s = '<li value="' + userRobots[i].robotId + '" class="col-6 offset-3 list-group-item d-flex justify-content-between align-items-center ">'
            + userRobots[i].robotId;
        if (userRobots[i].associated === true) {
            s += '<button id="dissociate" value="' + userRobots[i].robotId + '" type="button" class="btn btn-info">Dissociate</button>';
        } else {
            s += '<div>'
                + '<button id="associate" value="' + userRobots[i].robotId + '" type="button" class="btn btn-info associate">Associate</button>'
                + '<button id="dismiss"  value="' + userRobots[i].robotId + '" type="button" class="btn btn-info">Dismiss</button>'
                + '</div>';
        }
        s += '</li>';
        document.getElementById('list').innerHTML += s;
    }
</script>

<script>
    $(document).on('click', 'button', function () {
        if (this.id === "logout") {
            location.href = "/logout";
        } else if (this.id === "associate") {
            $.post('associate',
                {"id": $(this).val()},
                function () {
                    //update();
                    location.reload();
                });
        } else if (this.id === "dissociate" || this.id === "dismiss") {
            $.post('dissociate',
                {"id": $(this).val()},
                function () {
                    //update();
                    //TODO WESS TA VU LA FO FAIR DU AJAX PUR ACTUALIZER
                    location.reload();
                });
        }
    });

    $(document).on('click', 'li', function () {
        location.href = "videos/" + $(this).val();
    });
</script>




</body>

</html>