<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Videos</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/videos.css}"/>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand custom" href="/">
        <img th:src="@{/images/logo.jpeg}" width="30" height="30" alt="" class="d-inline-block align-top">
        Obo-Link
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
    </ul>
    <div class="justify-content-between">
        <button onclick="" id="logout" type="button" class="btn btn-outline-light">Logout</button>
    </div>
</nav>

<br/>

<div class="container">
    <h1 th:text="${video.title} + ' - ' + ${video.duration}"> </h1>
    <button onclick="" id="delete" type="button" class="btn btn-danger">Delete this video</button>
</div>

<br/>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
                <video id="vid" th:src="${video.videoURL}" controls>
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    document.getElementById("logout").onclick = function () {
        location.href = "/logout";
    };
    document.getElementById("delete").onclick = function () {
        var video =; /*[[${video}]]*/
        var r = confirm("Do you want to delete this video? This cannot be undone! It will only work if you don't exceed your limit.");
        if (r === true) {
            location.href = "/videos/" + video.robotId + "/" + video.id + "/delete/";
        }
    };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>