<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Testing Zone</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand custom" href="/">
        <img th:src="@{/images/logo.jpeg}" width="30" height="30" alt="" class="d-inline-block align-top">
        Obo-Link
    </a>
    <div class="justify-content-between">
        <button id="signin" type="button" class="btn btn-outline-light">Sign in</button>
        <button id="signup" type="button" class="btn btn-outline-light">Join now</button>
    </div>
</nav>

<br/>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form autocomplete="off" th:object="${user}" th:action="@{/registration}"
                  method="post" class="form-horizontal"
                  role="form">
                <h2>Registration.</h2>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{username}" placeholder="Username"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{firstName}" placeholder="First Name"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{lastName}"
                           placeholder="Last Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{email}" placeholder="Email"
                           class="form-control"/> <label
                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                        class="validation-message"></label>
                </div>
                <div class="form-group">
                    <input type="password" th:field="*{password}"
                           placeholder="Password" class="form-control"/> <label
                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                        class="validation-message"></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>

                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("signin").onclick = function () {
        location.href = "/login";
    };
    document.getElementById("signup").onclick = function () {
        location.href = "/registration";
    };
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>