<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Testing Zone</title>

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
		  crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />

</head>

<body>

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand custom" href="/">
			<img th:src="@{/images/logo.jpeg}" width="30" height="30" alt="" class="d-inline-block align-top">
			Obo-Link
		</a>
		<div class="justify-content-between">
			<button id="signin" type="button" class="btn btn-outline-light">Sign in</button>
			<button id="signup" type="button" class="btn btn-outline-light">Join now</button>
		</div>
	</nav>

	<br/>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form th:action="@{/registration}">
					<h2>Welcome to Obo-Link. We need you!!!</h2>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
        document.getElementById("signin").onclick = function () {
            location.href = "/login";
        };
	</script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
			integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
			integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
			crossorigin="anonymous"></script>
</body>

</html>